body {
  overflow: hidden;
  background-color: #a0a0a0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.input {
  text-align: center;
}

.linksto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.linksto * {
  display: flex;
  flex-grow: 1;
  height: 15vh;
  min-height: 2em;
  width: 15vw;
  border-radius: 25px;
  border-style: outset;
  justify-content: center;
  align-items: center;
}

.space {
  height: 200vh;
}

#author {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

#maintitle {
  font-size: 10vw;
}

.totop {
  display: flex;
  border-radius: 25px;
  min-height: 2em;
  height: 5vh;
  width: 100vw;
  border-style: outset;
  justify-content: center;
  align-items: center;
}

/* Random Number generator + fraction simplifier */

.randommin, .fractionsin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 50vw;
  border-radius: 30px;
  border-style: outset;
  flex-wrap: wrap;
}

.randommin *, .fractionsin * {
  width: 90%;
}

.randomnumdisplaydiv, .fractionsdisplaydiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 50vw;
  border-radius: 30px;
  border-style: outset;
  flex-wrap: wrap;
}


.randomnumfunc, .fractionsfunc {
  display: flex;
  width: 100vw;
  min-height: 4em;
}

#genrandomnum, #simplify {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4em;
  width: 100vw;
  height: 10vh;
  border-radius: 30px;
  border-style: outset;
  flex-wrap: wrap;
}

#randomtitle {
  font-size: 6vw;
}

/* Fraction simplifier */

#fractiontitle {
  font-size: 7vw;
}
